<h1>{{ station.name }}</h1>

<div ng-if="station.busStops.length">
  <h2>Bus / Streetcar Stops</h2>
  <div ng-repeat="stop in station.busStops">
    <div ng-repeat="route in stop.routes">
      <h4>
        <a href="" ng-click="jumpTo(parameterize(route.name))">
        - {{ route.name }}
        </a>
      </h4>
    </div>
  </div>
</div>

<div ng-if="station.subwayStops.length">
  <h2>Subway Stops</h2>
  <div ng-repeat="stop in station.subwayStops">
    <h4>
      <a href="" ng-click="jumpTo(parameterize(stop.routes[0].name))">
        - {{ stop.name }}
      </a>
    </h4>
  </div>
</div>

<div class="tcc-detail-panel">
  <!-- display all the stops and route times -->
</div>
